registry=https://pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/registry/:username=ImaginationGarden
//pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/registry/:_password=[cWlyd3F2ZXF4ano0aXN0a2ZiM3FsbWV5dTVrYjdicWk2eW02ZzM3cHk2ZWYyZ3g1bm5mcQ]
//pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/:username=ImaginationGarden
//pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/:_password=[cWlyd3F2ZXF4ano0aXN0a2ZiM3FsbWV5dTVrYjdicWk2eW02ZzM3cHk2ZWYyZ3g1bm5mcQ]
//pkgs.dev.azure.com/ImaginationGarden/IoT-Project/_packaging/IoT/npm/:email=npm requires email to be set but doesn't use the value
; end auth token